*{
    margin: 0;
    padding: 0;
}

body{
	font-family: "Lato", sans-serif;
}

footer{
	font-family: "Lato", sans-serif;
}

button{
	border: none;
  }

  .graph{
	  width:80%;
	  margin:0 auto;
  }

  .title{
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
  }
  
  .title h1{
	font-size:2rem;
	font-weight: bold;
	font-family:  sans-serif;
  }

  .desc{
	margin-top:50px;
	font-size: 1.5rem;
  }
  
  
  .logo{
	display: flex;
  }

header{
	width:100%;
	background-color:black;
	opacity: 0.9;
	position:relative;
	height:80px;
	display:flex;
	justify-content: space-between;
	font-family: "Lato", sans-serif;
}

header img{
	height: 100%;
	width:80px;
	margin-left:50px;
}
header a{
	display:block;
	color:rgba(255,255,255,0.6);
	margin:10px;
	padding:5px;
	font-size:18px;
}
header i{
	display:block;
	padding-top:5px;
	color:rgba(255,255,255,0.6);
	margin:10px;
}

header ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
header nav{
	margin-right: 50px;
    width: 41%;
}

header nav a:hover{

	color:white;
	transition:color 0.3s ease-in;
	text-decoration: none;
}

header nav .fa:hover{
	color:white;
	cursor:pointer;
}

.hbtn {
    color: white;
    width: 10%;
    cursor:pointer;
    background-color: deepskyblue;
    font-size: 20px;
    border-radius: 5px;
    height: 2.5rem;
}

.hbtn a{
     margin: 0px;
    padding: 0px;
    color: white;
}


.table {
    width: 85vw;
    margin: 4rem auto;
}

table th{
    color: #000000;
    font-weight: bold;
}

footer{
	background-color: black;
	opacity:0.8;
	height: 12vh;
    width: 100%;
    overflow: hidden;
}

.footerContainer{
    width:80%;
    margin:0 auto;

}

.content{
	color:white;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
}

.logos ul{
	list-style:none;
	display:flex;
}

.logos ul a{
	display:block;
	padding:10px;
	margin: 10px;
	color:rgba(255,255,255,0.6);
}

.desc span{
	color:rgba(255,255,255,0.7);
}


.logos ul li a:hover{
	color:white;
	background-color:rgba(255,255,255,0.3);
	border-radius:10px;
	cursor:pointer;
}

